{# cisco_ios/base_config.j2
   Idempotenza granulare: ogni blocco viene emesso SOLO se il suo comando
   è nella lista `missing`. I blocchi sono strettamente isolati.
#}
{% if is_rollback %}
configure terminal
{% set m = missing | default([]) %}

{% if enable_secret and "enable secret" in m %}
no enable secret
{% endif %}

{% if hostname and ("hostname " ~ hostname) in m %}
hostname {{ original_hostname }}
{% endif %}

{% if banner and ("banner motd #" ~ banner ~ "#") in m %}
no banner motd
{% endif %}

{% if login_block_for and login_attempts and login_within and ("login block-for " ~ login_block_for ~ " attempts " ~ login_attempts ~ " within " ~ login_within) in m %}
no login block-for
{% endif %}

{% if password_min_length and ("security passwords min-length " ~ password_min_length) in m %}
no security passwords min-length
{% endif %}

{% if username and ("username " ~ username) in m %}
no username {{ username }}
{% endif %}

{% set _console_timeout_cmd = "line console 0: exec-timeout " ~ console_timeout_m ~ " " ~ console_timeout_s %}
{% if "line console 0: login local" in m or _console_timeout_cmd in m %}
line console 0
{% if "line console 0: login local" in m %}
no login local
{% endif %}
{% if _console_timeout_cmd in m %}
no exec-timeout
{% endif %}
exit
{% endif %}

{% if domain_name and ("ip domain-name " ~ domain_name) in m %}
no ip domain-name {{ domain_name }}
{% endif %}

{% if needs_crypto_key %}
crypto key zeroize rsa
{% endif %}

{% if "ip ssh version 2" in m %}
no ip ssh version
{% endif %}

{% if ("ip ssh time-out " ~ ssh_timeout) in m %}
no ip ssh time-out
{% endif %}

{% if ("ip ssh authentication-retries " ~ ssh_retries) in m %}
no ip ssh authentication-retries
{% endif %}

{% set _vty_timeout_cmd = "line vty: exec-timeout " ~ vty_timeout_m ~ " " ~ vty_timeout_s %}
{% if "line vty: transport input ssh" in m or "line vty: login local" in m or _vty_timeout_cmd in m %}
line vty {{ vty_lines }}
{% if "line vty: login local" in m %}
no login local
{% endif %}
{% if _vty_timeout_cmd in m %}
no exec-timeout
{% endif %}
{% if "line vty: transport input ssh" in m %}
transport input all
{% endif %}
exit
{% endif %}

{% if service_password_encryption and "service password-encryption" in m %}
no service password-encryption
{% endif %}

{% if no_cdp_run and "no cdp run" in m %}
cdp run
{% endif %}

exit
{% else %}
configure terminal
{% set m = missing | default([]) %}

{% if enable_secret and "enable secret" in m %}
enable secret {{ enable_secret }}
{% endif %}

{% if hostname and ("hostname " ~ hostname) in m %}
hostname {{ hostname }}
{% endif %}

{% if banner and ("banner motd #" ~ banner ~ "#") in m %}
banner motd ^{{ banner }}^
{% endif %}


{% if login_block_for and login_attempts and login_within and ("login block-for " ~ login_block_for ~ " attempts " ~ login_attempts ~ " within " ~ login_within) in m %}
login block-for {{ login_block_for }} attempts {{ login_attempts }} within {{ login_within }}
{% endif %}

{% if password_min_length and ("security passwords min-length " ~ password_min_length) in m %}
security passwords min-length {{ password_min_length }}
{% endif %}

{% if username and ("username " ~ username) in m %}
username {{ username }} privilege 15 secret {{ password }}
{% endif %}

{% set _console_timeout_cmd = "line console 0: exec-timeout " ~ console_timeout_m ~ " " ~ console_timeout_s %}
{% if "line console 0: login local" in m or _console_timeout_cmd in m %}
line console 0
{% if "line console 0: login local" in m %}
login local
{% endif %}
{% if _console_timeout_cmd in m %}
exec-timeout {{ console_timeout_m }} {{ console_timeout_s }}
{% endif %}
exit
{% endif %}

{% if domain_name and ("ip domain-name " ~ domain_name) in m %}
ip domain-name {{ domain_name }}
{% endif %}

{% if needs_crypto_key %}
crypto key generate rsa general-keys modulus 2048
{% endif %}

{% if "ip ssh version 2" in m %}
ip ssh version 2
{% endif %}

{% if ("ip ssh time-out " ~ ssh_timeout) in m %}
ip ssh time-out {{ ssh_timeout }}
{% endif %}

{% if ("ip ssh authentication-retries " ~ ssh_retries) in m %}
ip ssh authentication-retries {{ ssh_retries }}
{% endif %}

{% set _vty_timeout_cmd = "line vty: exec-timeout " ~ vty_timeout_m ~ " " ~ vty_timeout_s %}
{% if "line vty: transport input ssh" in m or "line vty: login local" in m or _vty_timeout_cmd in m %}
line vty {{ vty_lines }}
{% if "line vty: login local" in m %}
login local
{% endif %}
{% if _vty_timeout_cmd in m %}
exec-timeout {{ vty_timeout_m }} {{ vty_timeout_s }}
{% endif %}
{% if "line vty: transport input ssh" in m %}
transport input ssh
{% endif %}
exit
{% endif %}

{% if service_password_encryption and "service password-encryption" in m %}
service password-encryption
{% endif %}

{% if no_cdp_run and "no cdp run" in m %}
no cdp run
{% endif %}

exit
{% endif %}
